body{
    background-color: $body-bg;
}

.standardpage {
    width:100%;
    margin: 0 auto;
}

.fixed-sn{
    content{
        padding-top: 5.5rem;
    }
}

.top-nav-collapse {
    background-color: $navbar-bg !important;
}

.dropdown-toggle::after {
    display:none
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

div[contenteditable]{
    word-break: break-word;
    cursor: text;
    outline: 0;
    &:focus{
        outline: 0;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.has-error{
    .form-control{
        border-color: #a94442;
        //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .help-block{
        color: #a94442;
    }
}