body{
    background-color: $body-bg;
}

.body-dont-scroll{
    overflow: hidden !important;
}

.standardpage {
    width:100%;
    margin: 0 auto;
}

.fixed-sn{
    content{
        padding-top: 5.5rem;
    }
}

.top-nav-collapse {
    background-color: $navbar-bg !important;
}

.dropdown-toggle::after {
    display:none
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

div[contenteditable]{
    word-break: break-word;
    cursor: text;
    outline: 0;
    &:focus{
        outline: 0;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #495057 !important;
}

.btn{
    padding: .85rem 1.13rem;
    margin-bottom: 0px;
    &:focus, &:active{
        outline: 0 !important;
    }
    &.btn-cus-submit{
        background-color: $submit-bg;
        &:hover, &:focus, &:active{
            background-color: $submit-bg-hover;
        }
    }
    &.btn-cus-common{
        background-color: $common-bg;
        &:hover, &:focus, &:active{
            background-color: $common-bg-hover;
        }
    }
    &.btn-cus-dismiss{
        background-color: $dismiss-bg;
        &:hover, &:focus, &:active{
            background-color: $dismiss-bg-hover;
        }
    }
}

.submit-bg{
    background-color: $submit-bg;
}
.submit-bg-hover{
    background-color: $submit-bg-hover;
}
.common-bg{
    background-color: $common-bg;
}
.common-bg-hover{
    background-color: $common-bg-hover;
}
.dismiss-bg{
    background-color: $dismiss-bg;
}
.dismiss-bg-hover{
    background-color: $dismiss-bg-hover;
}

button{
    &.close{
        cursor: pointer;
    }
}

.dropdown-menu{
    padding: .5rem;
    z-index: 1;
    .dropdown-item{
        &:hover, &:focus, &:active{
            color: $white;
            border-radius: 2px;
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
            background-color: $navbar-bg;
            -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
            box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        }
    }
}

#toast-container{
    top: 80px;
    right: 16px;
    .toast-info{
        //background-color: $common-bg-hover;
        &:hover, &:focus, &:active{
            //background-color: $common-bg !important;
        }
    }
    .toast-success{
        //background-color: $submit-bg-hover;
        &:hover, &:focus, &:active{
            //background-color: $submit-bg !important;
        }
    }
}

.text-common-color{
    color: $common-bg;
    &:hover, &:focus, &:active{
        color: $common-bg-hover;
    }
}

.text-submit-color{
    color: $submit-bg;
    &:hover, &:focus, &:active{
        color: $submit-bg-hover;
    }
}

.hidden-dom-create-open{
    z-index: 1050;
    position: relative;
    .pannel-post-create-open{
        margin-top: -10px;
    }
}

.hidden-dom-open{
    position: fixed;
    opacity: .6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: $black;
}

.has-error{
    .form-control{
        border-color: #a94442;
        //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .help-block{
        color: #a94442;
    }
}

textarea{
    resize: none;
}

a{
    text-decoration: none !important;
    &:hover, &:active, &:focus{
        text-decoration: none !important;
        background-color: none !important;
        outline: none !important;
    }
}

.text-ellipsis{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h-2rem{
    height: 2rem !important;
}

.wrapper-modals{
    .modal{
        overflow: auto !important;
        &#modalConfirm{
            z-index: 9999;
            .flex-center{
                height: auto;
            }
        }
    }
}