// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px; 
    }
    .navbar:not(.top-nav-collapse) {
        background: $navbar-bg !important;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .wrapper-header{
        .navbar{
            .nav-item{
                .navbar-menu-title{
                    display: inline-block !important;
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    
}