//Default Body and Navbar
$body-bg: #ecf0f1;
$navbar-bg: #3F51B5;
$navbar-bg-hover: #4d5ec1 !important;

//Text Color
$white: #FFFFFF;
$black: #000000;
$ccc: #ccc;
$red: #ff0000;
$red-hover: #F44336;

// Borders
$border-color: $ccc;

//Background Color
$common-bg: #00b0ff;
$common-bg-hover: #40c4ff  !important;
$submit-bg : $navbar-bg;
$submit-bg-hover : $navbar-bg-hover;
$dismiss-bg : #F80;
$dismiss-bg-hover : #ff941a !important;