.view-post-display{
    .holder-media-photo{
        .num-carousel-items{
            position: absolute;
            z-index: 10;
            right: 10px;
            font-weight: bold;
            font-size: 16px;
        }
    }
    .holder-caption{
        .caption-parent{
            .caption-child{
                .edit-caption{
                    .edit-caption-here{
                        border: 1px solid $ccc;
                        min-height: 100px;
                        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                    }
                    #editPostSave{
                        border: 2px solid #00C851 !important;
                        &:hover, &:active, &:focus{
                            border: 2px solid #00e25b!important
                        }
                    }
                }
            }
        }
    }
    .holder-media-video-file{
        .btn-play-video{
            $big-play-width: 4em; 
            /* 1.5em = 45px default */
            $big-play-height: 3.5em;
            $center-big-play-button: true;

            @if $center-big-play-button {
                /* Align center */
                left: 50%;
                top: 50%;
                margin-left: -($big-play-width / 2);
                margin-top: -($big-play-height / 2);   
            } @else {
                /* Align top left. 0.5em = 15px default */
                left: 0.5em;
                top: 0.5em;
            }
        }
        video::-internal-media-controls-download-button {
            display:none;
        }

        video::-webkit-media-controls-enclosure {
            overflow:hidden;
        }

        video::-webkit-media-controls-panel {
            width: calc(100% + 30px); /* Adjust as needed */
        }
        &:hover{
            cursor: pointer;
            .btn-play-video{
                color: red;
            }
        }
    }
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item-view {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
  
/* responsive media queries */

@media (max-width: 768px) {
    .isotope .item-view {
        position: static ! important;
        -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
        transform: translate(0px, 0px) ! important;
    }
}