html, body {
  font-weight: 100;
  margin: 0;
}

.full-height {
  height: 100vh !important;
  body{
    height: 0px;
  }
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}

.title {
  font-size: 36px;
  padding: 20px;
}